<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript - DOM</title>
    <script src="../assets/js/14-dom.js" defer></script>
</head>
<body>
    <h1 id="main-title">La manipulation du DOM en Javascript</h1>
    <h2 class="title" id="title">Quelques propriétés CSS</h2>
    <h2 class="title">Pas facile le Javascript</h2>
    <div>
        <p id="first-paragraphe">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod tempore adipisci aperiam quasi voluptatibus optio soluta. Alias soluta tenetur sit quibusdam. Nam labore laboriosam consectetur eveniet vitae voluptatem blanditiis voluptate!
        </p>
        <p class="majuscule">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio at dolorem esse minima inventore facere sunt a illo enim maxime vel laborum, dolor impedit, quas modi aliquam illum, ratione iure?
        </p>
        <p class="majuscule">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda repudiandae consequuntur, nulla minima distinctio eius corporis perferendis nostrum quos eos, error corrupti ut laudantium consectetur provident porro dicta eveniet quod.
        </p>
    </div>
</body>
</html>